gitpull.sh
composer.lock
createbash.sh
resetdb.sh
public/application
public/blogs
public/document
public/gallery
public/photos
public/provisional-letters
public/resume
public/testimonial
storage/app/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
access_log
error_log
public/vendor
.env