/* HELPER CLASSED */
/**MARGIN CLASSES**/
.nomargin-nopadding{margin: 0px !important; padding: 0px !important;}

.margin5{ margin: 5px;}
.margin10{ margin: 10px;}
.margin15{ margin: 15px;}
.margin20{ margin: 20px;}

.margin-top5{ margin-top: 5px;}
.margin-top10{ margin-top: 10px;}
.margin-top15{ margin-top: 15px;}
.margin-top20{ margin-top: 20px;}
.margin-top30{ margin-top: 30px;}
.margin-top40{ margin-top: 40px;}
.margin-top50{ margin-top: 50px;}

.margin-left5{ margin-left: 5px;}
.margin-left10{ margin-left: 10px;}
.margin-left15{ margin-left: 15px;}
.margin-left20{ margin-left: 20px;}

.margin-right5{ margin-right: 5px;}
.margin-right10{ margin-right: 10px;}
.margin-right15{ margin-right: 15px;}
.margin-right20{ margin-right: 20px;}

.margin-bottom5{ margin-bottom: 5px;}
.margin-bottom10{ margin-bottom: 10px;}
.margin-bottom15{ margin-bottom: 15px;}
.margin-bottom20{ margin-bottom: 20px;}
.margin-bottom30{ margin-bottom: 30px;}
.margin-bottom40{ margin-bottom: 40px;}
.margin-bottom50{ margin-bottom: 50px;}

/**PADDING CLASSES**/
.padding-top0{padding-top: 0px !important;}
.padding-left0{padding-left: 0px !important;}
.padding-right0{padding-right: 0px !important;}
.padding-bottom0{padding-bottom: 0px !important;}

.padding5{ padding: 5px;}
.padding10{ padding: 10px;}
.padding15{ padding: 15px;}
.padding20{ padding: 20px;}
.padding30{ padding: 30px;}
.padding40{ padding: 40px;}

.padding-top5{ padding-top: 5px;}
.padding-top10{ padding-top: 10px;}
.padding-top15{ padding-top: 15px;}
.padding-top20{ padding-top: 20px;}

.padding-left5{ padding-left: 5px;}
.padding-left10{ padding-left: 10px;}
.padding-left15{ padding-left: 15px;}
.padding-left20{ padding-left: 20px;}

.padding-right5{ padding-right: 5px;}
.padding-right10{ padding-right: 10px;}
.padding-right15{ padding-right: 15px;}
.padding-right20{ padding-right: 20px;}

.padding-bottom5{ padding-bottom: 5px;}
.padding-bottom10{ padding-bottom: 10px;}
.padding-bottom15{ padding-bottom: 15px;}
.padding-bottom20{ padding-bottom: 20px;}
.color-white{color: #ffffff;}
.custom-header{background: #ffffff !important;}
.form-block img{margin-bottom: 30px !important;}
.parsley-errors-list{list-style: none !important; text-align: left !important; float: left !important; padding-left: 0px !important;}
.parsley-custom-error-message{color: #A52222 !important; font-size: 14px; margin: 5px 0;}
.parsley-filemimetypes{color: #A52222 !important; font-size: 14px;}
.word-wrap-text{word-wrap: break-word !important;}
/****************************************************************/
.transaction-graph{border: 1px solid #f2f2f2;  background: #f7f7f7; box-shadow: 2px 2px 2px 2px #ccc;    border-radius: 5px;}


.contact-box{height: 370px !important;max-height: 370px !important;overflow: hidden !important;}

.blockOnGalleryImg{  height: 180px;   max-height: 180px;    background-repeat: no-repeat;   background-size: cover;   background-position: center;    border-radius: 4px 4px 0 0;    border: 1px solid #dfdfdf;    margin: 5px;     }
.visibilityHiddenBlock{visibility: hidden !important;}

.clientContactDetails{box-shadow: #2f4050 0 0 10px; background-color: #fff; border: #cbfcfe solid 1px !important; border-radius: 7px !important; padding: 15px;}
    
.selected_method_block > div > .chosen-container-single{
    width: 100% !important;
}
.resultForCollegeAdsList {width: 100%; max-height: 223px;background: #ffffff;z-index: 1000 !important;border: 1px solid #c6c6c6;position: relative;overflow: auto;}
.resultForCollegeAdsList > ul{text-align: left; font-size: 14px;}
.resultForCollegeAdsList > ul > li{padding: 10px 10px 10px 20px;border-bottom: 1px solid #afafaf;}
.resultForCollegeAdsList > ul > li:last-child{border-bottom: none;}
.resultForCollegeAdsList > ul > li > a {color: #172e51;font-size: 14px;font-weight: 700;}
.resultForCollegeAdsList > p{color: #7f7f80;font-size: 12px;font-weight: 600;margin-top: 10px;}
@media screen and (max-width: 1279px){
    .resultForCollegeAdsList {top:45px;width: 91%;}
}









