.nomargin-nopadding{margin:0px !important;padding:0px !important;}
.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin-top5{margin-top:5px;}
.margin-top10{margin-top:10px;}
.margin-top15{margin-top:15px;}
.margin-top20{margin-top:20px;}
.margin-top30{margin-top:30px;}
.margin-top40{margin-top:40px;}
.margin-top50{margin-top:50px;}
.margin-left5{margin-left:5px;}
.margin-left10{margin-left:10px;}
.margin-left15{margin-left:15px;}
.margin-left20{margin-left:20px;}
.margin-right5{margin-right:5px;}
.margin-right10{margin-right:10px;}
.margin-right15{margin-right:15px;}
.margin-right20{margin-right:20px;}
.margin-bottom5{margin-bottom:5px;}
.margin-bottom10{margin-bottom:10px;}
.margin-bottom15{margin-bottom:15px;}
.margin-bottom20{margin-bottom:20px;}
.margin-bottom30{margin-bottom:30px;}
.margin-bottom40{margin-bottom:40px;}
.margin-bottom50{margin-bottom:50px;}
.margin-bottom60{margin-bottom:60px;}
.margin-bottom70{margin-bottom:70px;}
.padding-top0{padding-top:0px !important;}
.padding-left0{padding-left:0px !important;}
.padding-right0{padding-right:0px !important;}
.padding-bottom0{padding-bottom:0px !important;}
.padding5{padding:5px;}
.padding10{padding:10px;}
.padding15{padding:15px;}
.padding20{padding:20px;}
.padding30{padding:30px;}
.padding40{padding:40px;}
.padding-top5{padding-top:5px;}
.padding-top10{padding-top:10px;}
.padding-top15{padding-top:15px;}
.padding-top20{padding-top:20px;}
.padding-left0{padding-left:0px;}
.padding-left5{padding-left:5px;}
.padding-left10{padding-left:10px;}
.padding-left15{padding-left:15px;}
.padding-left20{padding-left:20px;}
.padding-left25{padding-left:25px;}
.padding-right5{padding-right:5px;}
.padding-right10{padding-right:10px;}
.padding-right15{padding-right:15px;}
.padding-right20{padding-right:20px;}
.padding-right30{padding-right:30px;}
.padding-right40{padding-right:40px;}
.padding-bottom5{padding-bottom:5px;}
.padding-bottom10{padding-bottom:10px;}
.padding-bottom15{padding-bottom:15px;}
.padding-bottom20{padding-bottom:20px;}
.padding-bottom30{padding-bottom:30px;}
.font-size10{font-size:10px !important;}
.font-size20{font-size:20px !important;}
.font-size30{font-size:30px !important;}
.font-size40{font-size:40px !important;}
.font-size50{font-size:50px !important;}
.font-size60{font-size:60px !important;}
.fontSize17{font-size:17px !important;}
.fontSize37{font-size:37px !important;}
.marginall10{margin:10px 0;}
.logoStyle{max-width:180px !important;}
.boldText{font-weight:bold !important;}
.fontSize50{font-size:50px !important;}
.badgesSize{font-size:18px !important;}
.lesspadding100{padding:100px 0px !important;}
#viewMorePopup{cursor:pointer;}
.uppercaseText{text-transform:uppercase;}
.text-green-color{color:#d40d12 !important;}
.text-red-color{color:#FA5D56 !important;}
.text-black-color{color:#000000 !important;}
.text-lightgreen-color:hover{color:#d40d12;}
.anchorTagText{color:#18ba9b !important;text-decoration:none;}
.fancybox-nav span{visibility:visible !important;}
.clearBothNow{clear:both !important;}
.collegeTabBorder{border:1px solid #ffffff;}
.tc-testimonials .testimonials-clients-block{padding:30px 50px 50px 30px !important;float:right !important;}
.no-anchor-text{color:#000000 !important;text-decoration:none !important;}
.blockOnGalleryImg{height:180px;max-height:180px;background-repeat:no-repeat;background-size:cover;background-position:center;border-radius:4px 4px 0 0;border:1px solid #dfdfdf;margin:5px;}
.visibilityHiddenBlock{visibility:hidden !important;}
.header-v6 .navbar-nav > li > .collegeTabBorder:hover{background-color:rgba(0,0,0,0.35);}
@media (min-width:992px){.header-v6 .navbar-nav > li > a{padding:10px 15px !important;line-height:15px;margin-top:25px !important;}}
.header-fixed .header-v6.header-fixed-shrink .navbar-nav > li > .collegeTabBorder:hover{background-color:transparent;}
.header-fixed .header-v6.header-fixed-shrink .navbar-nav > li > a{line-height:0px;}
@media (min-width:992px){.header-v8 .navbar-nav > li > a{padding:20px 15px;line-height:54px;}}
.interactive-slider-v2{background:url(/../../assets/images/bg/17.jpg);background-size:cover;}
.search-blocks-textbox{border:none;height:48px;font-size:16px;font-weight:200;}
.form-filter-design{padding-left:5px !important;padding-right:5px !important;}
.sky-form-no-block{border:none !important;}
.blog-topbar{background:#ffffff !important;border-bottom:1px solid #000000 !important;}
.cd-signin{color:#000000 !important;font-size:12px !important;}
.cd-signup{color:#000000 !important;text-transform:lowercase !important;font-size:11px !important;}
.blog-topbar .search-btn{color:#000000 !important;}
.topbar-list > li:before{background:#000000 !important;}
.topbar-time{color:#000000 !important;text-transform:lowercase !important;font-size:12px !important;}
.blog-topbar .container{padding-bottom:0px!important;}
.sky-form .state-error + em{margin-top:-20px !important;margin-bottom:20px !important;color:#A52222 !important;}
.parsley-errors-list{list-style:none !important;text-align:left !important;float:left !important;padding-left:0px !important;}
.parsley-custom-error-message{color:#A52222 !important;font-size:14px;}
.input-box-style{border-color:rgba(255,255,255,0.7);color:#fff;background:transparent;height:45px;border-radius:5px;padding:10px;}
.input-box-style-black{border-color:#f2f2f2;color:#ccc;background:transparent;height:45px;border-radius:5px;padding:10px;}
.input-box-style-footer{border-color:#f2f2f2;color:#ccc;background:transparent;height:45px;border-radius:0px !important;padding:10px !important;}
.max-width-on-blocks{max-width:170px;}
.thumbnail-border{box-shadow:0 0 8px #ddd;transition:box-shadow 0.2s ease-in-out;}
.college-name-style-black{color:#000 !important;}
.college-name-style-black:hover{text-decoration:none !important;}
.borderOnIMG{border:1px solid #ccc;}
.img-hover-v1:hover span:after{background:transparent !important;}
.fixTheArrow{z-index:999;margin-top:150px;position:absolute;}
.leftArrowIcon{background:url('/../../assets/images/ar-lt.png');background-size:contain;background-position:center;background-repeat:no-repeat;height:50px;width:50px;cursor:pointer;left:40px;}
.rightArrowIcon{background:url('/../../assets/images/ar-rt.png');background-size:contain;background-position:center;background-repeat:no-repeat;height:50px;width:50px;cursor:pointer;right:40px;}
.ui-autocomplete{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;_width:160px;padding:4px 0;list-style:none;background-color:#ffffff;border-color:#999999;border-style:solid;border-width:1px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px;-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 5px 10px;box-shadow:rgba(0, 0, 0, 0.2) 0px 5px 10px;}
.ui-autocomplete .ui-menu-item > a.ui-corner-all{display:block;padding:3px 10px;font-size:16px;clear:both;font-weight:normal;line-height:18px;color:#555555;white-space:nowrap;min-height:50px;}
.ui-autocomplete .ui-menu-item > a.ui-corner-all:hover{color:#333333;text-decoration:none;background-color:#eeeeee;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;background-image:none;}
.ui-autocomplete .ui-menu-item > a.ui-corner-all:active{color:#333333;text-decoration:none;background-color:#eeeeee;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;background-image:none;}
.ui-autocomplete{vertical-align:middle;}
.ui-autocomplete .ui-menu-item{vertical-align:middle;border-bottom:1px solid #eeeeee;}
.ui-autocomplete .ui-menu-item .ui-autocomplete-icon{vertical-align:middle;padding-left:1em;}
.ui-autocomplete .ui-menu-item .ui-autocomplete-icon i{display:inline-block;font-size:2em;line-height:2em;text-align:center;vertical-align:bottom;color:#27ae60;}
.ui-autocomplete .ui-menu-item .ui-autocomplete-artist{font-weight:bold;font-size:1.2em;height:55px;line-height:55px;padding-left:0.6em;}
.ui-autocomplete .ui-menu-item .ui-autocomplete-album-name{font-size:1.2em;height:55px;line-height:55px;}
.ui-autocomplete .ui-menu-item .ui-autocomplete-divider{padding-right:0.5em;padding-left:0.5em;}
.ui-autocomplete .ui-menu-item .ui-autocomplete-divider i{font-size:0.7em;}
.text-deco-none{text-decoration:none !important;}
.featuredCollegeBlock{position:relative;background-size:contain;background-repeat:no-repeat;height:180px;border-radius:4px 4px 0 0;border:1px solid #dfdfdf;border-bottom:0;background-position:center;}
.feature-strip-college{width:100px;height:20px;margin-top:0px;position:absolute;border-top:12px solid rgba(0,0,0,0.6);border-bottom:12px solid rgba(0,0,0,0.6);border-right:10px solid transparent;border-top:10px solid rgba(197, 62, 107, 0.6)!important;border-bottom:10px solid rgba(197, 62, 107, 0.6) !important;}
.feature-strip-college span{color:#ffffff;margin-top:-9px;position:absolute;padding-left:5px;font-size:13px;}
.feature-strip-college-blogs{width:100px;height:20px;margin-top:0px;position:relative;border-right:10px solid transparent;float:right;}
.feature-strip-college-blogs span{color:#ffffff;margin-top:-9px;position:absolute;padding-left:5px;font-size:40px;right:0px;}
.feature-strip-college-blogs-left{width:50px;height:45px;margin-top:50px;position:relative;border-right:10px solid transparent;float:left;background:#ffffff;padding:10px 15px;}
.feature-strip-college-blogs-left span{color:#ffffff;margin-top:-9px;position:absolute;font-size:40px;left:0px;}
.feature-strip-college-blogs-left p{text-align:center;padding:5px 15px;position:absolute;}
.feature-strip-college-blogs-left p span{color:#555;display:block;font-size:20px;line-height:16px;}
.feature-strip-college-blogs-left p small{color:#555;display:block;font-size:10px;text-transform:uppercase;margin-top:10px;margin-left:-15px;}
.feature-headline-blogs-head{font-size:18px;margin:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#555;}
.feature-headline-blogs-head:hover{color:#d40d12;text-decoration:underline;}
.feature-headline-blogs-head-sub{color:#555;}
.feature-deatils-paragraph{font-size:13px;color:#555;line-height:1.6}
.bookmarkHeart{color:#555;width:40px;height:40px;padding:13px;font-size:16px;background:#B3AAAA;text-align:center;display:inline-block;}
.bookmarkedHeartIcon{background:#d40d12 !important;color:#FFFFFF !important;}
.bookmarkedHeartIcon span i{background:#d40d12 !important;color:#FFFFFF !important;}
.white-bg{background:#ffffff !important;}
.ajax-response-bookmarked-action{border-top:6px solid #2CD5B6;}
.testimonials-slide-style{padding:0 3px;}
.testimonials-slide-style img{border-radius:50%;overflow:hidden;}
.feature-college-overlay{background-color:#ffffff;border:1px solid #efefef;border-top:none;height:140px;border-radius:0 0 4px 4px;}
.feature-desc{padding:10px;}
.feature-headline{font-size:18px;margin:0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#FA296F;}
.feature-deatils{font-size:16px;color:#383339;}
.feature-style{font-size:13px;color:#383339;font-style:inherit;}
.feature-facility-icon{width:21px;}
.row-block-border{background-color:#FFFFFF;border:1px solid #f2f2f2;border-radius:5px;box-shadow:2px 2px 2px 2px #efefef;}
.row-block-border:hover{border:1px solid #f2f2f2;box-shadow:0 5px 20px rgba(0,0,0,.2);transform:translate(0,-2px);}
.col-left-block-img{position:relative;background-size:contain;background-repeat:no-repeat;height:202px;border-radius:4px 4px 0 0;border:1px solid #dfdfdf;border-bottom:0;background-position:center;}
.white-popup{position:relative;background:#FFF;padding:25px;width:auto;max-width:800px;margin:0 auto;}
.mfp-zoom-in{}
.mfp-zoom-in .mfp-with-anim{opacity:0;transition:all 0.2s ease-in-out;transform:scale(0.8);}
.mfp-zoom-in.mfp-bg{opacity:0;transition:all 0.3s ease-out;}
.mfp-zoom-in.mfp-ready .mfp-with-anim{opacity:1;transform:scale(1);}
.mfp-zoom-in.mfp-ready.mfp-bg{opacity:0.8;}
.mfp-zoom-in.mfp-removing .mfp-with-anim{transform:scale(0.8);opacity:0;}
.mfp-zoom-in.mfp-removing.mfp-bg{opacity:0;}
.mfp-close{width:25px !important;height:25px !important;line-height:25px !important;}
.mfp-close-btn-in .mfp-close{color:#ffffff !important;background:#000000 !important;}
.sidebar-nav-v1 span.badge{margin-top:0px;margin-right:10px;}
.checkbox{padding-left:20px;}
.checkbox label{display:inline-block;position:relative;padding-left:5px;}
.checkbox label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:-20px;border:1px solid #cccccc;border-radius:3px;background-color:#fff;-webkit-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out, color 0.15s ease-in-out;transition:border 0.15s ease-in-out, color 0.15s ease-in-out;}
.checkbox label::after{display:inline-block;position:absolute;width:16px;height:16px;left:0;top:0;margin-left:-20px;padding-left:3px;padding-top:1px;font-size:11px;color:#555555;}
.checkbox input[type="checkbox"]{opacity:0;}
.checkbox input[type="checkbox"]:focus + label::before{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.checkbox input[type="checkbox"]:checked + label::after{font-family:'FontAwesome';content:"\f00c";}
.checkbox input[type="checkbox"]:disabled + label{opacity:0.65;}
.checkbox input[type="checkbox"]:disabled + label::before{background-color:#eeeeee;cursor:not-allowed;}
.checkbox.checkbox-circle label::before{border-radius:50%;}
.checkbox.checkbox-inline{margin-top:0;}
.checkbox-primary input[type="checkbox"]:checked + label::before{background-color:#428bca;border-color:#428bca;}
.checkbox-primary input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-danger input[type="checkbox"]:checked + label::before{background-color:#d9534f;border-color:#d9534f;}
.checkbox-danger input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-info input[type="checkbox"]:checked + label::before{background-color:#5bc0de;border-color:#5bc0de;}
.checkbox-info input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-warning input[type="checkbox"]:checked + label::before{background-color:#f0ad4e;border-color:#f0ad4e;}
.checkbox-warning input[type="checkbox"]:checked + label::after{color:#fff;}
.checkbox-success input[type="checkbox"]:checked + label::before{background-color:#5cb85c;border-color:#5cb85c;}
.checkbox-success input[type="checkbox"]:checked + label::after{color:#fff;}
.radio{padding-left:20px;}
.radio label{display:inline-block;position:relative;padding-left:5px;}
.radio label::before{content:"";display:inline-block;position:absolute;width:17px;height:17px;left:0;margin-left:-20px;border:1px solid #cccccc;border-radius:50%;background-color:#fff;-webkit-transition:border 0.15s ease-in-out;-o-transition:border 0.15s ease-in-out;transition:border 0.15s ease-in-out;}
.radio label::after{display:inline-block;position:absolute;content:" ";width:11px;height:11px;left:3px;top:3px;margin-left:-20px;border-radius:50%;background-color:#555555;-webkit-transform:scale(0, 0);-ms-transform:scale(0, 0);-o-transform:scale(0, 0);transform:scale(0, 0);-webkit-transition:-webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-moz-transition:-moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-o-transition:-o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);transition:transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);}
.radio input[type="radio"]{opacity:0;}
.radio input[type="radio"]:focus + label::before{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.radio input[type="radio"]:checked + label::after{-webkit-transform:scale(1, 1);-ms-transform:scale(1, 1);-o-transform:scale(1, 1);transform:scale(1, 1);}
.radio input[type="radio"]:disabled + label{opacity:0.65;}
.radio input[type="radio"]:disabled + label::before{cursor:not-allowed;}
.radio.radio-inline{margin-top:0;}
.radio-primary input[type="radio"] + label::after{background-color:#428bca;}
.radio-primary input[type="radio"]:checked + label::before{border-color:#428bca;}
.radio-primary input[type="radio"]:checked + label::after{background-color:#428bca;}
.radio-danger input[type="radio"] + label::after{background-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::before{border-color:#d9534f;}
.radio-danger input[type="radio"]:checked + label::after{background-color:#d9534f;}
.radio-info input[type="radio"] + label::after{background-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::before{border-color:#5bc0de;}
.radio-info input[type="radio"]:checked + label::after{background-color:#5bc0de;}
.radio-warning input[type="radio"] + label::after{background-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::before{border-color:#f0ad4e;}
.radio-warning input[type="radio"]:checked + label::after{background-color:#f0ad4e;}
.radio-success input[type="radio"] + label::after{background-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::before{border-color:#5cb85c;}
.radio-success input[type="radio"]:checked + label::after{background-color:#5cb85c;}
.parallax-counter-v1{padding:60px 0;background:url(/../home-layout/assets/img/patterns/5.png) repeat fixed;}
.parallax-counter-v1 .counters{color:#fff;padding:15px 0 10px;border:solid 1px #555;}
.parallax-counter-v1 h4{color:#eee;font-size:16px;text-transform:uppercase;}
.parallax-counter-v1 span.counter{font-size:42px;line-height:48px;}
.searchbutton{border-radius: 36px !important; width: 69% !important;}
.viewCollege{ font-weight: 900 !important;}
.indexCollegeBox{height: 65px !important;}
.indexCollegeName{font-size: 16px !important;}
.browseCollege{font-weight: 900 !important;}
.searchBox{height: 210px !important;}
.collegefacility{margin-top: -10px;}
.queryadmission{margin-top: -30px;}
.collegecourse{font-size: 18px !important; line-height: 20px !important;}
.collegecoursebox{padding: 10px 20px 2px !important; border-radius: 20px !important; min-height: 195px;}